<!DOCTYPE html>
<div class="login-page">
    <div class="logo">
        <img src="../assets/logo.jpg" width="100px" height="100px">
    </div>
    <div class="form-container">
        <p><b>Task Master</b></p>
        <form>
            <div class="mb-3">
            <label for="userEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" [(ngModel)]="username" name="username"> 
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
            <label for="userPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="userPassword" [(ngModel)]="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary" (click)="validateCredentials($event)">Submit</button>
            <p class="errormessage" style="color:red;font-size: smaller;">{{errorMessage}}</p>
        </form>
    </div>
    <div class="copyright">
        <p>Copyright 2023 - Some Company</p>
    </div>
</div>