.login-page {
    width: 100%;
    height: 100vh;
    background-color: rgb(253, 248, 248) !important;
}
.form-container {
    position: absolute;
    width: 300px;
    height: 300px;
    background: white;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -125px;
    box-shadow: 2px darkgray;
    padding : 5px 5px 5px 5px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -50px;
}

.copyright {
    position: absolute;
    bottom : 0px !important;
    right : 10px;
    color: lightblue;
}


